<script src="{{url_for('static', filename='js/jquery-3.7.1.min.js')}}"></script>
<script src="{{url_for('static', filename='lib/bootstrap.bundle.min.js')}}"></script>
<script src="{{url_for('static' , filename='lib/chart/chart.min.js')}}"></script>
<script src="{{url_for('static' , filename='lib/easing/easing.min.js')}}"></script>
<script src="{{url_for('static' , filename='lib/owlcarousel/owl.carousel.min.js')}}"></script>
<script src="{{url_for('static' , filename='lib/tempusdominus/js/moment.min.js')}}"></script>
<script src="{{url_for('static' , filename='lib/tempusdominus/js/moment-timezone.min.js')}}"></script>
<script src="{{url_for('static' , filename='lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js')}}"></script>
<script src="{{url_for('static' , filename='js/tabulator.min.js')}}"></script>

<!-- Template Javascript -->
<script src="{{url_for('static' , filename='js/main.js')}}"></script>
<script src="{{url_for('static' , filename='js/auth.js')}}"></script>
<script src="{{url_for('static', filename='js/socket.io.min.js')}}"></script>
<script src="{{url_for('static', filename='lib/html2pdf.bundle.min.js')}}"></script>
<script src="{{url_for('static', filename='lib/iziToast/js/iziToast.js')}}"></script>
<script src="{{url_for('static' , filename='js/profile/upload.profile.js')}}"></script>
<script src="{{url_for('static' , filename='js/profile/preview.profile.js')}}"></script>
<script src="{{url_for('static' , filename='js/profile/update.profile.js')}}"></script>
<script src="{{url_for('static' , filename='js/rule/rule.fetch.firewall.js')}}"></script>

<!-- dashboard javascript -->
<script src="{{url_for('static', filename='js/dashboard/dash.fetch.js')}}"></script>
<script src="{{url_for('static', filename='js/dashboard/dash.chart.js')}}"></script>


<!-- SSH JAVASCRIPT MODULES -->
<script src="{{url_for('static' , filename='js/ssh/ssh.websocket.js')}}"></script>
<script src="{{url_for('static', filename='js/ssh/ssh.clear.log.js')}}"></script>
<script src="{{url_for('static' , filename='js/ssh/ssh.allow.block.js')}}"></script>
<script src="{{url_for('static' , filename='js/ssh/ssh.content.download.js')}}"></script>
<script src="{{url_for('static' , filename='js/dashboard/dash.board.js')}}"></script>

<!-- CONNECTION JAVASCRIPT MODULES -->
<script src="{{url_for('static' , filename='js/connection/connection.js')}}"></script>

<!-- SYSINFO JAVASCRIPT MODULES -->
<script src="{{url_for('static' , filename='js/sysinfo/sysinfo.js')}}"></script>

<!-- Leaflet JS -->
<script src="{{url_for('static' , filename='js/leaflet.js')}}"></script>