<script src="{{url_for('static', filename='js/jquery-3.7.1.min.js')}}"></script>
<script src="{{url_for('static', filename='lib/bootstrap.bundle.min.js')}}"></script>
<script src="{{url_for('static' , filename='lib/chart/chart.min.js')}}"></script>
<script src="{{url_for('static' , filename='lib/easing/easing.min.js')}}"></script>
<script src="{{url_for('static' , filename='lib/owlcarousel/owl.carousel.min.js')}}"></script>
<script src="{{url_for('static' , filename='lib/tempusdominus/js/moment.min.js')}}"></script>
<script src="{{url_for('static' , filename='lib/tempusdominus/js/moment-timezone.min.js')}}"></script>
<script src="{{url_for('static' , filename='lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js')}}"></script>
<script src="{{url_for('static' , filename='js/tabulator.min.js')}}"></script>

<!-- Template Javascript -->
<script src="{{url_for('static' , filename='js/main.js')}}"></script>
<script src="{{url_for('static' , filename='js/auth.js')}}"></script>
<script src="{{url_for('static', filename='lib/iziToast/js/iziToast.js')}}"></script>